aniso8601==8.0.0
apis==0.0.1
attrs==19.3.0
blueprint==3.4.2
Click==7.0
dnspython==1.15.0
dnspython3==1.15.0
Flask==1.1.1
flask-restplus==0.13.0
freeze==1.0.10
get==2019.4.13
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.1.1
MarkupSafe==1.1.1
more-itertools==7.2.0
post==2019.4.13
public==2019.4.13
pymongo==3.9.0
pyrsistent==0.15.5
pytz==2019.3
query-string==2019.4.13
request==2019.4.13
six==1.13.0
Werkzeug==0.16.0
zipp==0.6.0
